@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('./image/hero.jpg');
  background-repeat: none;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.hero .hero-wrapper {
  text-align: center;
}
.hero .hero-wrapper h1 {
  font-size: 80px;
  font-weight: 500;
}
.hero .hero-wrapper p {
  font-size: 17px;
  letter-spacing: 5px;
  padding-bottom: 40px;
}
.hero .hero-wrapper button {
  padding: 10px 20px;
  background: #c3bd86;
  font-size: 14px;
  font-weight: 500;
  border: none;
  letter-spacing: 2px;
}
.hero .hero-wrapper button:hover {
  background: #948f63;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .hero {
    padding: 0 20px;
  }
  .hero .hero-wrapper h1 {
    font-size: 50px;
  }
}

/*--------------Love section-------*/
.love {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  height: 100vh;
}
.love.ed{
  flex-wrap: wrap-reverse;
}
.love .love-left{
  width: 35%;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.love .love-left .love-left-wrap{
  padding: 0 30px;
}
.love .love-left .love-left-wrap img{
  padding-bottom: 20px;
}
.love .love-left .love-left-wrap h1{
  padding-bottom: 20px;
  font-size: 40px;
}
.love .love-left .love-left-wrap p{
  padding-bottom: 20px;
  font-size: 15px;
  color: rgb(92, 89, 89);
  letter-spacing: 2px;
}
.love .love-left .love-left-wrap button{
  padding: 10px  20px;
  font-size:13px;
  background:none;
  border: 3px solid black;
  font-weight: bold;
}
.love .love-left .love-left-wrap button:hover{
  cursor: pointer;
  background: #c3bd86;
  color: #fff;
}
.love .love-right {
  background: url('./image/hero1.jpg');
  height: 100%;
  width: 60%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
}
.love .love-right.ed{
    background: url('./image/hreo2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.love .love-right .love-frame{
  border: 10px solid #ffffff6d;
  height: 100%;
  width: 100%;
}
@media screen and (max-width:1000px) {
  .love{
    height: fit-content;
  }
  .love .love-left{
    width: 100%;
    padding-bottom: 20px;
  }
  .love .love-right{
    width: 100%;
    height: 400px;
  }
}
@media screen and (max-width:500px) {
    .love .love-left .love-left-wrap h1{
    font-size: 30px;
  }
  .love .love-left .love-left-wrap{
    padding: 20px 0
  }
}
/*--------------Love section ends-------*/
/*--------------pop-sec section-------*/
.pop-sec{
  background: #f7f5e7;
  padding-bottom: 150px;
}
.pop-head{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 150px 0;
}
.popwrap{
 display: flex;
 flex-direction: column;
 align-items: center;
}
.pop-line{
  height: 4px;
  width: 30px;
  background: #000;
  margin-top: 10px;
}
/*--------------pop-sec section end-------*/
/*--------------menu-sec section-------*/
.menu{
  background: #f7f5e7;
  padding-bottom: 150px;
}
.menu-sec{
  background: #f7f5e7;
  padding-bottom: 150px;
}
.menu-head{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 150px 0;
}
.menuwrap{
 display: flex;
 flex-direction: column;
 align-items: center;
}
.menu-line{
  height: 4px;
  width: 30px;
  background: #000;
  margin-top: 10px;
}
/*--------------menu-sec section ends-------*/
/*--------------course section-------*/
.course{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.course .meal{
  width: 25%;
  text-align: center;
  padding: 20px;
  background-position: center;
  background-size: cover;
  color: #fff;
  background-repeat: no-repeat;
}
.course .meal .frame{
  border: 5px solid #ffffff6d;
  padding: 50px 0;
}
.course .meal.breakfast{
 background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('./image/pack1.jpg');
     background-size: cover;
  background-repeat: no-repeat;
}
.course .meal.lunch{
 background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('./image/pack2.jpg');
         background-size: cover;
  background-repeat: no-repeat;
}
.course .meal.dina{
 background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('./image/pack3.jpg');
         background-size: cover;
  background-repeat: no-repeat;
}
.course .meal.drinks{
 background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('./image/pack4.jpg');
         background-size: cover;
  background-repeat: no-repeat;
}
.course .meal:hover{
  background: #c3bd86;
  cursor: pointer;
}
@media screen and (max-width:900px) {
  .course .meal{
    width: 50%;
  }
}
@media screen and (max-width:500px) {
  .course .meal{
    width: 100%;
  }
}
/*--------------course section ends-------*/
/*--------------menu-sec section-------*/
.chef{
  background: #f7f5e7;
  padding-bottom: 150px;
}
.chef-sec{
  background: #f7f5e7;
  padding-bottom: 150px;
}
.chef-head{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 150px 0;
}
.chefwrap{
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 align-items: center;
}
.chef-line{
  height: 4px;
  width: 30px;
  background: #000;
  margin-top: 10px;
}
.chef-wrap{
  display: flex;
  justify-content: space-between;
  height: 95vh;
  background: #fff;
  flex-wrap: wrap-reverse;
}
.chef-wrap .chef-left{
  width: 50%;
  height: 100%;
  background: url('./image/chef1.jpg');
  background-size: cover;
  background-position: center;
  padding: 20px;
}
.chef-wrap .chef-left.new{
  background: url('./image/chef2.jpg');
  background-position: center;
  background-size: cover;
}
.chef-wrap .chef-left .chef-frame{
  height: 100%;
  width:100%;
  border: 10px solid rgba(255, 255, 255, 0.535);
}
.chef-wrap .chef-right{
  width: 50%;
  display: flex;
  align-items: center;
  text-align: center;
}
.chef-wrap .chef-right .chef-right-wrap{
  padding: 0 100px;
}
.chef-wrap .chef-right .chef-right-wrap img{
  padding-bottom: 30px;
}
.chef-wrap .chef-right .chef-right-wrap h1{
  padding-bottom: 10px;
  font-weight: 400;
}
.chef-wrap .chef-right .chef-right-wrap .chef-job{
  padding-bottom: 50px;
}
.chef-wrap .chef-right .chef-right-wrap .chef-desc{
  font-size: 14px;
  padding-bottom: 50px;
  color: #7c797c;
  line-height: 30px;
  letter-spacing: 2px;
}
.chef-wrap .chef-right .chef-right-wrap button {
  padding: 10px 20px;
  background: #c3bd86;
  font-size: 14px;
  font-weight: 500;
  border: none;
  letter-spacing: 2px;
}
.chef-wrap .chef-right .chef-right-wrap button:hover {
  background: #948f63;
  cursor: pointer;
}

@media screen and (max-width:800px) {
  .chef-wrap{
    height: max-content;
    margin-bottom: 50px;
  }
  .chef-wrap.ed{
    flex-wrap: wrap;
  }
  .chef-wrap .chef-left{
    width: 100%;
    height: 100vh;
  }
  .chef-wrap .chef-right{
    width: 100%;
  }
  .chef-wrap .chef-right .chef-right-wrap{
    padding: 50px 20px;
  }
}
/*--------------menu-sec section ends-------*/