* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('./image/hero.jpg');
  background-repeat: none;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.hero .hero-wrapper {
  text-align: center;
}
.hero .hero-wrapper h1 {
  font-size: 80px;
  font-weight: 500;
}
.hero .hero-wrapper p {
  font-size: 17px;
  letter-spacing: 5px;
  padding-bottom: 40px;
}
.hero .hero-wrapper button {
  padding: 10px 20px;
  background: #c3bd86;
  font-size: 14px;
  font-weight: 500;
  border: none;
  letter-spacing: 2px;
}
.hero .hero-wrapper button:hover {
  background: #948f63;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .hero {
    padding: 0 20px;
  }
  .hero .hero-wrapper h1 {
    font-size: 50px;
  }
}
